p {
  margin: 0;
}
.container {
  gap: 5px;
}
.container__players {
  height: 70%;
  padding: 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}
.container__search {
  padding: 10px;
}
.container__results {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: auto;
  height: 80%;
}

button {
  text-align: left;
}
