body {
  font-family: Arial, sans-serif;
  background-color: #b9b9b9;
  text-align: center;
  height: 100vh;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}

h1 {
  color: #333;
}

.container {
  width: 75%;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 5px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
}

button {
  padding: 10px 20px;
  background-color: #008cba;
  color: white;
  border: none;
  border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
}

.btn-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 50%;
  align-content: center;
  justify-content: center;
  gap: 10px;
}
