* {
  font-family: "Cinzel", Helvetica, sans-serif;
}
body {
  background-color: #5e4f43;
  text-align: center;
  height: 100vh;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}

h1 {
  color: #333;
}

.container {
  width: 500px;
  height: 600px;
  margin: 0 auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  background-color: rgb(242, 191, 81);
  border-radius: 5px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
}

button {
  padding: 10px 20px;
  background-color: #755736;
  color: white;
  border: none;
  border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
  transition: 500ms;
}

button:hover {
  background-color: #49351f;
}

.btn-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 50%;
  align-content: center;
  justify-content: center;
  gap: 10px;
}

.title {
  font-size: 40px;
}
